*.o
*.so
*~
*.swp
*TAGS
cscope.out
autom4te.cache
config.h.in
Makefile
Makefile.in
*.lo
*.la
.deps
.libs
aclocal.m4
build-aux
config.log
config.status
configure
libtool
m4
core.*
core
vgcore.*
*.tar.gz
config.h
groupby
stamp-h1
